PORT=8787
AI_KEY_OPENAI=replace-me
AI_KEY_GOOGLE=replace-me
AI_KEY_DEEPSEEK=replace-me
AI_KEY_ANTHROPIC=replace-me
AI_KEY_MOONSHOT=replace-me
AI_KEY_MINIMAX=replace-me
CUSTOM_BASE_URL=http://host.docker.internal:11434/v1
